---
import Layout from '../layouts/Layout.astro';
import '../styles/favorites.css';
---

<Layout title="Favorite Digital Artists">
  <main class="favorites-container">
    <h1>Favorite Digital Artists</h1>
    <div class="favorites-grid">
      <div class="favorite-item">
        <img src="/img/digital-artists/dartist1.jpg" alt="Digital Artist 1" />
        <h3>Artist Name</h3>
        <p>Description of the digital artist and their work</p>
      </div>
      <div class="favorite-item">
        <img src="/img/digital-artists/dartist2.jpg" alt="Digital Artist 2" />
        <h3>Artist Name</h3>
        <p>Description of the digital artist and their work</p>
      </div>
      <div class="favorite-item">
        <img src="/img/digital-artists/dartist3.jpg" alt="Digital Artist 3" />
        <h3>Artist Name</h3>
        <p>Description of the digital artist and their work</p>
      </div>
    </div>
  </main>
</Layout> 